<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <form class="form-box" action="/edit" method="post">
        <h4>수정하기</h4>
        <input hidden="hidden" name="id" value="<%=result._id%>">
        <input name="title" value="<%=result.title%>">
        <input name="content" value="<%=result.content%>">
        <button type="submit">전송</button>
    </form>

</body>
</html>